:root {
	font-family: "DM Sans", sans-serif;

	--brand-color: #ae1332;
	--color-text: #ffffff;
	--second-text-color: #000000;
	--color-hover: #a4cb66;
	--accent-color: #f5ce13;
	--button-hover-state: rgba(174, 19, 50, 0.1);
	--second-accent-color: #9dc262;
	--popup-bg: #e03f5e;
}
.button-reset {
	border: none;
	background-color: transparent;
}
body.modal-open {
	overflow: hidden;
}
section{
	padding-bottom: 80px;
}
@media only screen and (min-width: 767px) and (max-width: 1279px) {
section{
	padding-bottom: 144px;
}
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease all;
  z-index: 20;
}

.overlay.active,
.modal.active {
  opacity: 1;
  visibility: visible;
}
.modal.active {
	transform: translate(-50%, -50%);
	transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
	transform: translate(-50%, -500%); 
  padding: 20px;
  opacity: 0;
  visibility: hidden;
	transition: 0.3s all cubic-bezier(0.4, 0, 0.2, 1);
	z-index: 30;
}

/*==============================================================================================================================================
----------------------------------------------------------------------Mobile
================================================================================================================================================*/
.container {
	max-width: 365px;
	padding: 0 15px;
	margin: 0 auto;
}
/*==============================================================================================================================================
---------------------------------------------------------------------/Mobile
================================================================================================================================================*/
/*==============================================================================================================================================
----------------------------------------------------------------------Tablet
================================================================================================================================================*/
@media only screen and (min-width: 768px) and (max-width: 1279px) {
	.container {
		max-width: 734px;
	}
}
/*==============================================================================================================================================
---------------------------------------------------------------------/Tablet
================================================================================================================================================*/
/*==============================================================================================================================================
----------------------------------------------------------------------Desktop
================================================================================================================================================*/
@media only screen and (min-width: 1280px) {
	.container {
		max-width: 1246px;
	}
}
/*==============================================================================================================================================
---------------------------------------------------------------------/Desktop
================================================================================================================================================*/
